.footerWrapper {
  max-width: 1024px;
  width: 100%;
  font-size: 1rem;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkFooter {
  color: white;
}

.lightFooter {
  color: #141414;
}
